li {
    display: flex;
    align-items: center;
    list-style: none;
    height: 2em;
    border-bottom: black 1px solid;
    padding: 5px;
}

li:hover {
    color: green;
    background-color: #fff;
}

.del {
    
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}