/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,
body
{
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px;
    background-color: rgb(240, 240, 240);
    border: indianred 2px solid;
    margin-top: 20px;
    border-radius: 4px;
}

.todo-header {
    display: flex;
}

.todo-input {
    flex-grow: 1;
    border-radius: 1em;
    border: indianred 2px solid;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
}

ul {
    border: black 1px solid;
    border-bottom: none;
    border-radius: 4px;
}

li {
    display: flex;
    align-items: center;
    height: 2em;
    border-bottom: black 1px solid;
    padding: 5px;
}

.del {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

button {
    font-size: 0.5em;
    padding: 4px 8px;
    background-color: indianred;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}

.todo-footer {
    display: flex;
    align-items: center;
    margin-top: 20px;
}